.wrappr{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 370px;
}

.containerpr{
    max-width: 1441px;
    min-width: 370px;
    padding: 105px 30px 25px 30px;
}