{% extends 'layout.html' %}


{% block title %}{{contact_t.title}}{% endblock %}
{% block description %}{{contact_t.description}}{% endblock %}

{% block body %}


<div class="container_contacts">
    <h3>Контакты</h3>

    {% for contact in contacts %}
    <div class="contacts">
        <h3>{{ contact.name.upper() }}</h3>
        <div class="map_contacts">
            <div class="map_size">
                {{ contact.script | safe }}
            </div>
            <div class="contact_phone_2">
                <div class="street">{{ contact.address }}</div>
                <div class="phone">
                    {% for phone in contact.phones %}
                        <a href="tel:{{ phone.phone }}"><p>{{ phone.phone[0:8] }}<span>{{ phone.phone[8:] }}</span></p></a>
                    {% endfor %}
                </div>
                <div class="email"><a href="mailto:{{ contact.email}}"><p>E-mail: <span>{{ contact.email }}</span><p></a></div>
                <div class="clock">Время работы:</div>
                <p>Понедельник-пятница: <span>{{ contact.weekdays }}</span></p>
                <p>Суббота: <span>{{ contact.saturday }}</span></p>
                <p>Воскресенье: <span>{{ contact.sunday }}</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>





<div class="question">
    <div class="container_question">
        <p>Задайте ваш вопрос в месседжеры: </p>
        <a href="{{ ind.whatsap }}"><img src="{{ url_for('static', filename='images/footer/whatsapp.svg')}}"></a>
        <a href="{{ ind.telegram }}"><img src="{{ url_for('static', filename='images/footer/telegram.svg')}}"></a>
    </div>
</div>

{% endblock %}

