{% extends 'admin_layout.html' %}



{% block body %}


<div class="container_admin_form">

    <h3>Новый продукт</h3>

    <form method="post" enctype=multipart/form-data>

        <div class="column_one">
            <div class="count_one">1</div>
            <div class="column_one_res">
                <input type="text" name="name" class="admin_name" maxlength="50" placeholder="Введите название(до 50 символов)" required>
        
                <select name="category_id">
                    {%- for item in categories.children recursive %}
                        <option value="{{item.id}}">{{item.level|int * '-'}}{{item.name}}</option>
                        {%- if item.children -%}
                            <p>{{ loop(item.children) }}</p>
                            <option disabled></option>
                        {%- endif %}
                    {% endfor %}
                </select>
            </div>
            <textarea name="intro" maxlength="1500" placeholder="Введите текст интро (до 1500 символов)" required></textarea>
            <div class="column_one_res">
                <input type="text" name="title" class="admin_name" maxlength="200" placeholder="Введите тег title" required>
                <input type="text" name="description" class="admin_name" maxlength="300" placeholder="Введите тег description" required>
            </div>

        </div>

        <div class="column_one">
            <div class="count_one">2</div>
            <div id="profile">
                <div id="inputadm" class="input_red">
                    <input type="text" name="alt" class="admin_n" maxlength="50" placeholder="Введите название картинки (alt)" required>
                    <label for="file-upload" class="custom-file-upload">
                        Загрузить картинку
                    </label>
                    <input id="file-upload" type=file name=file required>
                </div>
            </div>
        </div>

        <div class="column_one">
            <div class="count_one">3</div>
            <div id="profile1">
                <div id="input_price" class="input_red">
                    <input type="text" name="name_price" class="admin_n" maxlength="50" placeholder="Введите название(до 50 символов)" >
                    <input type="number" name="price" class="admin_n input-number" maxlength="20" placeholder="Введите цену" >
                </div>
            </div>
            <div class="row_counter">
                <div class="counter" onclick="AInput_price()">+ Добавить</div>
                <div class="counter" onclick="DInput_price()">- Удалить</div>
            </div>
        </div>
        
        <div class="column_one">
            <div class="count_one">4</div>
            <textarea name="text" maxlength="1500" placeholder="Введите основной текст (до 1500 символов)" required></textarea>
        </div>

        <div class="column_one">
            Выберети допродажи к товару (желательно не более 5)
            <div class="count_one">5</div>
            <div id="profile2">
                <div id="input0" class="input_sug">
                    <select name="suggestion" multiple size="10">
                        {%- for item in categories.children recursive %}

                            <option disabled>{{item.level|int * '-'}}{{item.name}}</option>
        
                            {% for pink in item.items %}
                                    <option value="{{pink.id}}">{{item.level|int * '◦'}}{{pink.name}}</option>
                            {% endfor %}
        
                            {%- if item.children -%}
                                <p>{{ loop(item.children) }}</p>
                                <option disabled></option>
                            {%- endif %}
    
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>




        <div class="column_one">
            <div class="count_one">6</div>
            <input type="text" name="title1" maxlength="50" placeholder="Введите заголовок конечного текста" required>
            <textarea name="text1" maxlength="3000" placeholder="Введите конечный текст (до 3000 символов)" required></textarea>
            
            <div id="inputadm" class="input_red">
                <input type="text" name="alt1" class="admin_n" maxlength="50" placeholder="Введите название картинки (alt)" required>
                <label for="file-upload1" class="custom-file-upload">
                    Загрузить картинку
                </label>
                <input id="file-upload1" type=file name=file1 required>
            </div>

            <div id="inputadm" class="input_red">
                <input type="text" name="alt2" class="admin_n" maxlength="50" placeholder="Введите название картинки (alt)" required>
                <label for="file-upload2" class="custom-file-upload">
                    Загрузить картинку
                </label>
                <input id="file-upload2" type=file name=file2 required>
            </div>

            <div id="inputadm" class="input_red">
                <input type="text" name="alt3" class="admin_n" maxlength="50" placeholder="Введите название картинки (alt)" required>
                <label for="file-upload3" class="custom-file-upload">
                    Загрузить картинку
                </label>
                <input id="file-upload3" type=file name=file3 required>
            </div>
            
        </div>
     

        <input class="admin_button" type="submit" value="Создать">
    </form>


    <div class="container__adm">
        <div class="grid">
    
            {%- for item in categories.children recursive %}
            <div class="item">
                <div class="content">
                         
                        <a class="category" href="{{url_for('catid', url=item.url)}}">{{ item.name }}</a>
    
                        {% for pink in item.items %}
                                <div class="product1"><a href="{{url_for('product', url_cat=item.url, url=pink.url)}}">{{pink.name}}</a></div>
                        {% endfor %}
                
                        {%- if item.children -%}
                            <div class="submenu">{{ loop(item.children) }}</div>
                        {%- endif %}
                    
                </div>
            </div>
            {%- endfor %}
    
        </div>
    </div>

</div>



{% endblock %}











